/* ================================================================ 
This copyright notice must be kept untouched in the stylesheet at 
all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.stunicholls.com/menu/pro_drop_1.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */

.preload1 {background: url(blank_over.gif);}
.preload2 {background: url(blank_overa.gif);}

#nav {padding:0; margin:0; list-style:none; position:relative; z-index:500; }
#nav li.top {display:block; float:left; }


/* Default list styling */

#nav li:hover {position:relative; z-index:200;}

/* keep the 'next' level invisible by placing it off screen. */
#nav ul, 
#nav li:hover ul ul,
#nav li:hover ul li:hover ul ul,
#nav li:hover ul li:hover ul li:hover ul ul,
#nav li:hover ul li:hover ul li:hover ul li:hover ul ul
{position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

#nav li:hover ul.sub
{left:0; top:62px;  background-color:#fafafa; padding:0px;  margin:0px 0 0 3px; width:130px; height:auto; z-index:300; }
#nav li:hover ul.sub li
{display:block; height:auto; float:left; width:130px; font-weight:normal; }
#nav li:hover ul.sub li a
{display:block; font-size:11px; height:0px; width:100px; line-height:0px; color:#000; text-decoration:none; border-bottom:solid 1px #f0f0f0;}
#nav li:hover ul.sub li a.last
{border:none;}
#nav li ul.sub li a.fly
{background:#fafafa url(arrow.gif) 115px 15px no-repeat;}

#nav li:hover ul.sub li a:hover 
{background:#f4f4f4; color:#1ea3c9;}
#nav li:hover ul.sub li a.fly:hover
{background:#f4f4f4 url(arrow_over.gif) 115px 15px no-repeat; color:#1ea3c9; }

#nav li:hover ul li:hover > a.fly {background:#f4f4f4 url(arrow_over.gif) 115px 15px no-repeat; color:#1ea3c9;  } 

#nav li:hover ul li:hover ul,
#nav li:hover ul li:hover ul li:hover ul,
#nav li:hover ul li:hover ul li:hover ul li:hover ul,
#nav li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul
{left:90px; top:0px; background-color:#fafafa; padding:0px; margin:0 0 0 40px; white-space:nowrap; width:130px; z-index:400; height:auto; }